@import "./style.css";

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

article > img {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  object-fit: cover;
}

article > section {
  width: 25rem;
}

section {
  text-align: center;
}

section h2 {
  margin-bottom: 2rem;
}

section h3 {
  margin-bottom: 1.5rem;
}

section p {
  margin-bottom: 1rem;
}
