@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h2 {
  font-family: "Permanent Marker", sans-serif;
  font-size: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: rgb(187, 246, 226);
}

main {
  flex-grow: 1;
}

body > header {
  padding: 1.5rem 0;
}

body > header ul {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

body > header a {
  text-decoration: none;
  color: purple;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 30%);
}

body > footer {
  padding: 0.5rem 1rem;
}
